<footer id="footer" class="footer-container">
        
          
    <div class="footer-top">
            <div class="container">
            <div class="inner"><!-- @file modules\appagebuilder\views\templates\hook\ApRow -->
      <div        class="row ApRow  "
                              style=""                >
                                              <!-- @file modules\appagebuilder\views\templates\hook\ApColumn -->
  <div    class="col-xl-2-4 col-lg-3 col-md-12 col-sm-12 col-xs-12 col-sp-12  ApColumn "
          >
                      <!-- @file modules\appagebuilder\views\templates\hook\ApImage -->
  <div id="image-form_8594142638399124" class="block logo-box ApImage">
      
              
                      <img class="lazy" data-src=" class=""
                                      title=""
              alt=""
          style=" width:auto; 
              height:auto" />
  
                          </div>
      </div><!-- @file modules\appagebuilder\views\templates\hook\ApColumn -->
  <div    class="col-xl-2-4 col-lg-3 col-md-4 col-sm-4 col-xs-12 col-sp-12  ApColumn "
          >
                      <!-- @file modules\appagebuilder\views\templates\hook\ApGeneral -->
  <div     class="block line_info ApRawHtml">
                          <div class="icon-line"><i class="icon-call-end"></i><span class="title">SERVICE TECHNIQUE</span></div> <span class="phone_number">12345678</span>    	</div>
      </div><!-- @file modules\appagebuilder\views\templates\hook\ApColumn -->
  <div    class="col-xl-2-4 col-lg-3 col-md-4 col-sm-4 col-xs-12 col-sp-12  ApColumn "
          >
                      <!-- @file modules\appagebuilder\views\templates\hook\ApGeneral -->
  <div     class="block line_info ApRawHtml">
                          <div class="icon-line"><i class="icon-screen-tablet"></i><span class="title">Téléphone mobile</span></div> <span class="phone_number">12345678</span>    	</div>
      </div><!-- @file modules\appagebuilder\views\templates\hook\ApColumn -->
  <div    class="col-xl-2-4 col-lg-3 col-md-4 col-sm-4 col-xs-12 col-sp-12  ApColumn "
          >
                      <!-- @file modules\appagebuilder\views\templates\hook\ApGeneral -->
  <div     class="block line_info ApRawHtml">
                          <div class="icon-line"><i class="icon-clock"></i><span class="title">Lundi samedi</span></div> <span class="phone_number">8:00-17:00</span>    	</div>
      </div><!-- @file modules\appagebuilder\views\templates\hook\ApColumn -->
  <div    class="col-xl-2-4 col-lg-12 col-md-12 col-sm-12 col-xs-12 col-sp-12  ApColumn "
          >
                      <!-- @file modules\appagebuilder\views\templates\hook\ApModule -->
  
    <div class="block-social">
      <ul>
                <li class="facebook"><a href="https://www.facebook.com/karhabtk.tn" title="Facebook" target="_blank"><span>Facebook</span></a></li>
                <li class="instagram"><a href="https://www.instagram.com/karhabtk.tn/" title="Instagram" target="_blank"><span>Instagram</span></a></li>
            </ul>
    </div>
  
  
      </div>            </div>
      <!-- @file modules\appagebuilder\views\templates\hook\ApRow -->
      <div        class="row ApRow  "
                              style=""                >
                                              <!-- @file modules\appagebuilder\views\templates\hook\ApColumn -->
  <div    class="col-xl-2-4 col-lg-12 col-md-12 col-sm-12 col-xs-12 col-sp-12  ApColumn "
          >
                      <!-- @file modules\appagebuilder\views\templates\hook\ApGeneral -->
  <div     class="block text_footer ApRawHtml">
              <h4 class="title_block">CONTACTEZ-NOUS</h4>
                      <p>  </p><p> contact@carwize.tn </p>    	</div>
      </div><!-- @file modules\appagebuilder\views\templates\hook\ApColumn -->
  <div    class="col-xl-2-4 col-lg-3 col-md-3 col-sm-12 col-xs-12 col-sp-12  ApColumn "
          >
                      <!-- @file modules\appagebuilder\views\templates\hook\ApBlockLink -->
              <div class="block block-toggler ApLink ApBlockLink accordion_small_screen">
                              <div class="title clearfix" data-target="#footer-link-form_3490136399358960" data-toggle="collapse">
                      <h4 class="title_block">
                      Menu rapide   
                      </h4>
                      <span class="float-xs-right">
                        <span class="navbar-toggler collapse-icons">
                          <i class="material-icons add">&#xE313;</i>
                          <i class="material-icons remove">&#xE316;</i>
                        </span>
                      </span>
                  </div>
                                                      <ul class="collapse" id="footer-link-form_3490136399358960">
                                                                          <li><a href="https://www.karhabtk.tn/12-freinage" target="_self">Freinage </a></li>
                                                                                                  <li><a href="https://www.karhabtk.tn/14-embrayage" target="_self">Embrayage</a></li>
                                                                                                  <li><a href="https://www.karhabtk.tn/16-batterie" target="_self">Batterie </a></li>
                                                                                                  <li><a href="https://www.karhabtk.tn/67-huiles-moteur" target="_self">Huile Moteur</a></li>
                                                                                                  <li><a href="https://www.karhabtk.tn/217-kit-chaine-" target="_self">Kit Chaine </a></li>
                                                              </ul>
                      </div>
      
      </div><!-- @file modules\appagebuilder\views\templates\hook\ApColumn -->
  <div    class="col-xl-2-4 col-lg-3 col-md-3 col-sm-12 col-xs-12 col-sp-12  ApColumn "
          >
                      <!-- @file modules\appagebuilder\views\templates\hook\ApBlockLink -->
              <div class="block block-toggler ApLink ApBlockLink accordion_small_screen">
                              <div class="title clearfix" data-target="#footer-link-form_9568915338872114" data-toggle="collapse">
                      <h4 class="title_block">
                      REGLEMENTATION
                      </h4>
                      <span class="float-xs-right">
                        <span class="navbar-toggler collapse-icons">
                          <i class="material-icons add">&#xE313;</i>
                          <i class="material-icons remove">&#xE316;</i>
                        </span>
                      </span>
                  </div>
                                                      <ul class="collapse" id="footer-link-form_9568915338872114">
                                                                          <li><a href="https://www.karhabtk.tn/content/7-livraison" target="_self">Expédition &amp; Retour</a></li>
                                                                                                  <li><a href="https://www.karhabtk.tn/content/6-condition-d-utilisation" target="_self"> Conditions d&#039;utilisation</a></li>
                                                              </ul>
                      </div>
      
      </div><!-- @file modules\appagebuilder\views\templates\hook\ApColumn -->
  <div    class="col-xl-2-4 col-lg-3 col-md-3 col-sm-12 col-xs-12 col-sp-12  ApColumn "
          >
                      <!-- @file modules\appagebuilder\views\templates\hook\ApBlockLink -->
              <div class="block block-toggler ApLink ApBlockLink accordion_small_screen">
                              <div class="title clearfix" data-target="#footer-link-form_38023007081191595" data-toggle="collapse">
                      <h4 class="title_block">
                      Mon compte 
                      </h4>
                      <span class="float-xs-right">
                        <span class="navbar-toggler collapse-icons">
                          <i class="material-icons add">&#xE313;</i>
                          <i class="material-icons remove">&#xE316;</i>
                        </span>
                      </span>
                  </div>
                                                      <ul class="collapse" id="footer-link-form_38023007081191595">
                                                                          <li><a href="https://www.karhabtk.tn/mon-compte" target="_self">Vos infos personnelles</a></li>
                                                                                                  <li><a href="https://www.karhabtk.tn/suivi-commande-invite" target="_self">Vos Commandes</a></li>
                                                                                                  <li><a href="https://www.karhabtk.tn/nous-contacter" target="_self">contact</a></li>
                                                              </ul>
                      </div>
      
      </div><!-- @file modules\appagebuilder\views\templates\hook\ApColumn -->
  <div    class="col-xl-2-4 col-lg-3 col-md-3 col-sm-12 col-xs-12 col-sp-12  ApColumn "
          >
                      
      </div>            </div>
      </div>
            </div>
        </div>
  
  
    <div class="footer-center">
            <div class="container">
            <div class="inner"><!-- @file modules\appagebuilder\views\templates\hook\ApRow -->
      <div        class="row ApRow  "
                              style=""                >
                                              <!-- @file modules\appagebuilder\views\templates\hook\ApColumn -->
  <div    class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 col-sp-12 footer_box ApColumn "
          >
                      <!-- @file modules\appagebuilder\views\templates\hook\ApGeneral -->
  <div     class="block copyright ApRawHtml">
                          Copyright 2024- <span>carwize.tn</span>. Tous droits réservés    	</div><!-- @file modules\appagebuilder\views\templates\hook\ApImage -->
  <div id="image-form_2015773084332535" class="block ApImage">
      
              
                      <img class="lazy" data-src="/themes/at_edmart/assets/img/modules/appagebuilder/images/payme.png" class=""
                                      title=""
              alt=""
          style=" width:auto; 
              height:auto" />
  
                          </div>
      </div>            </div>
      <div id="fb-root"></div>
  <style>fscript {display: none;}</style>
  <script data-keepinline="true">
  var _thirdPartyScriptsLoaded = false;
  var _head = document.getElementsByTagName('head')[0] || document.documentElement;
  
  function _handleThirdPartyScripts() {
      var fscripts = document.querySelectorAll('fscript');
      [].forEach.call(fscripts, function(fscript) {
          var script = document.createElement('script');
          script.type = 'text/javascript';
  
          if (fscript.hasAttributes()) {
              for (var attributeKey in fscript.attributes) {
                  if (fscript.attributes.hasOwnProperty(attributeKey)) {
                      script[ fscript.attributes[ attributeKey ].name ] = fscript.attributes[ attributeKey ].value || true;
                  }
              }
          } else {
              script.appendChild( document.createTextNode( fscript.innerHTML ) );
          }
  
          _head.insertBefore( script, _head.firstChild );
      });
  }
  
  function loadThirdPartyAssets() {
      if (_thirdPartyScriptsLoaded) {
          return;
      }
  
      _thirdPartyScriptsLoaded = true;
  
      setTimeout(function() {
          if ('requestIdleCallback' in window) {
              requestIdleCallback(_handleThirdPartyScripts, { timeout: 1000 });
          } else {
              _handleThirdPartyScripts();
          }
      }, 2000);
  }
  
  window.addEventListener('scroll', function() {
      loadThirdPartyAssets();
  }, false);
  
  document.onclick = function() {
      loadThirdPartyAssets();
  };
  window.fbAsyncInit = window.fbAsyncInit || function() {
      FB.init({
        autoLogAppEvents : true,
        xfbml            : true,
        version          : 'v8.0'
      });
  };
  </script>
  <fscript id="facebook-jssdk" src="//connect.facebook.net/en_US/sdk/xfbml.customerchat.js"></fscript>
  <div class="fb-customerchat"
  page_id="111628728017878"
  logged_in_greeting="contactez karhabtk.tn "
  theme_color="#2E7DBF"
  greeting_dialog_delay="20"
  ></div>
  </div>
            </div>
        </div>
  
  
    <div class="footer-bottom">
            <div class="container">
            <div class="inner"></div>
            </div>
        </div>
          
        </footer>